.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @white;
}

.advantages__slogan-wrapper {
  padding-top: 39px;
  padding-bottom: 28px;
}

.advantages__slogan {
  margin: 0;
  padding: 0 15%;

  .font-light();
  text-align: center;

  &:not(:last-child) {
    padding-bottom: 27px;
  }
}

.advantages__list-wrapper {
  position: relative;

  width: 100%;
  padding-top: 81px;


  background-color: @grey;

  .decoration-triangle();
}

.advantages__list {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 277px;
    margin-top: 13px;

    .image("iphone-screen-mobile@1x.png");
    background-position: 50% 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.advantages__item {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 28px;
}

.advantages__title {
  margin: 0;
  padding-bottom: 9px;

  .font-bold();
  text-align: center;
}

.advantages__description {
  margin: 0;

  .font-regular();
  text-align: center;
}

@media (min-width: @tablet) {
  .advantages__slogan-wrapper {
    padding: 55px 0;
  }

  .advantages__slogan {
    margin: 0 auto;
    font-size: 40px;
    line-height: 48px;

    &:first-child {
      width: 100%;
      padding: 0;
    }
  }

  .advantages__list-wrapper {
    padding-top: 75px;
  }

  .advantages__list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .icon(268px, 481px, auto, 0, @image: true, "iphone-screen-3-tablet@1x.png");

    &::before {
      bottom: 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }

    &::after {
      display: none;
    }
  }

  .advantages__item {
    width: 50%; //310px
    margin: 0;
  }

  .advantages__title,
  .advantages__description {
    text-align: left;
  }

  .advantages__article-wrapper {
    width: 100%;

    background-color: @white;
  }
}

@media (min-width: @desktop) {
  .advantages__slogan-wrapper {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 58px;
  }

  .advantages__list-wrapper {
    padding-top: 0;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &::before {
      display: none;
    }
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    padding-bottom: 0;

    &::before {
      content: "";

      display: block;
      width: 292px;
      height: 302px;
      margin-bottom: 60px;
      margin-top: -10px;
    }

    &--joy::before {
      .image("iphone-screen-1-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--peace::before {
      .image("iphone-screen-2-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--friends::before {
      .image("iphone-screen-3-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }

  .advantages__title,
  .advantages__description {
    text-align: center;
  }

  .advantages__title {
    width: 240px;
  }

  .advantages__description {
    width: 185px;
  }

  .advantages__article-wrapper {
    background-color: @grey;
  }
}
