.article {
  font-size: 0;
}

@media (min-width: @tablet) {
  .article {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 96px;
    padding-bottom: 60px;

    background-color: transparent;

    &::before {
      content: "24";

      position: absolute;
      top: 114px;
      left: 40px;
      z-index: 10;

      display: block;
      width: 200px;
      height: 200px;
      padding: 34px;

      .font-bold(96px, 96px, @pink);

      background-color: transparent;
      border: 13px solid @pink;
      border-radius: 50%;
    }

    &::after {
      content: "";

      position: absolute;
      top: 58px;
      left: 20px;

      display: block;
      width: 298px;
      height: 345px;

      .image("icon-timer.svg", @x:0, @y:0);
      background-size: 80%;
    }
  }

  .article__wrapper {
    width: 50%;
    margin: 0;
  }

  .article__title {
    width: 100%;
    margin: 0;
    padding-right: 40%;
    padding-bottom: 10px;

    .font-bold(30px, 36px);
  }

  .article__descriptions {
    margin: 0;
    padding-bottom: 9px;

    .font-regular();
  }

  .article__link {
    .font-regular(@color:@pink);

    box-shadow: 0 -1px @pink inset;
  }
}

@media (min-width: @desktop) {
  .article {
    padding-top: 139px;
    padding-bottom: 114px;

    &::before {
      left: 33px;

      width: 253px;
      height: 253px;
      padding: 44px;

      font-size: 120px;
      line-height: 120px;

      border: 16px solid @pink;
    }

    &::after {
      top: 45px;
      left: 10px;

      background-size: 100%;
    }
  }

  .article__wrapper {
    width: 61%;
  }

  .article__title {
    padding-right: 0;
    padding-bottom: 26px;

    line-height: 30px;
  }

  .article__descriptions {
    padding-bottom: 27px;

    font-size: 18px;
    line-height: 30px;
  }

  .article__link {
    font-size: 18px;
    line-height: 30px;
  }
}
