.comments {
  background-color: @white;
}

.comments__item {
  margin: 0;
}

.comments__text {
  margin: 0;

  .font-regular(@line-height:30px);
  text-align: center;
}

.comments__author {
  margin: 0;

  font-style: normal;
  .font-bold();
}
