.container {
  margin: 0 auto;
}

@media (min-width: @tablet) {
  .container {
    width: 100%;
    min-width: 620px;
  }
}

@media (min-width: @desktop) {
  .container {
    width: 100%;
    max-width: 960px;
  }
}
