.contest {
  width: 100%;

  background-color: @white;
}

.contest__slogan {
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;

  .font-regular(@line-height:30px);
  text-align: center;

  &--hidden {
    padding: 0;

    font-size: 0;
  }
}

.contest__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contest__item {
  width: 100%;
  margin-top: 38px;
  margin-bottom: 42px;
  margin-left: 0;
  padding: 0;

  border: none;

  &--name {
    margin-top: 30px;
  }
}

.contest__title {
  display: block;
  width: 100%;
  margin: 0;
  padding-left: 22px;
  padding-bottom: 4px;

  .font-regular(@line-height:30px, @color:@pink);
  text-transform: uppercase;

  &--legend {
    padding: 0 10%;

    line-height: 18px;
    text-align: center;
  }

  &--hidden {
    position: absolute;

    width: 0;

    clip: rect(0 0 0 0);
  }
}

.contest__field {
  width: 100%;
  height: 63px;
  margin-bottom: 18px;
  padding-left: 20px;

  .font-regular(18px, 30px);

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  &::placeholder {
    color: @sapphire;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--textarea {
    min-height: 200px;
    margin: 0;
    padding: 22px 20px;
  }

  .form-dynamic();
}

.contest__label {
  position: relative;

  .font-regular(18px, 30px);
  vertical-align: middle;

  &--checkbox,
  &--radio {
    display: block;
    width: 100%;
    min-height: 40px;
    margin-bottom: 42px;
    padding-top: 4px;
    padding-left: 69px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;
      vertical-align: middle;
      width: 39px;
      height: 39px;

      background-color: transparent;
      border: 2px solid #e5e5e5;
    }

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      display: none;
      vertical-align: middle;
    }
  }

  &--checkbox {
    &::before {
      border-radius: 10%;
    }

    &::after {
      width: 11px;
      height: 22px;
      margin: 13px 12px;

      border-right: 2px solid @pink;
      border-bottom: 2px solid @pink;

      transform: rotate(45deg);
    }
  }

  &--radio {
    margin-bottom: 36px;

    &::before {
      padding-bottom: 0;
      border-radius: 50%;
    }

    &::after {
      width: 16px;
      height: 16px;
      margin: 12px;

      background-color: @pink;
      border-radius: 50%;
    }
  }
}

.contest__input {
  position: absolute;
  z-index: -1;

  display: block;
  width: 40px;
  height: 40px;

  .form-dynamic(@pseudo:true);
}

.contest__wrapper {
  width: 100%;

  &:nth-child(2n):not(:last-child) {
    background-color: @grey;
  }

  &--name {
    .contest-item {
      margin-top: 30px;
      border: none;
    }
  }

  &--emotion {
    .contest-item {
      margin-bottom: 50px;
    }

    .contest__field {
      min-height: 202px;
      margin: 0;
      padding: 12px 18px;
    }
  }

  &--button {
    padding-bottom: 15px;
  }
}

.contest__wrapper-inner {
  padding-top: 0;
  padding-bottom: 0;

  &--advantages {
    padding-top: 39px;
  }

  &--app {
    padding-top: 35px;
  }

  &--telephone {
    padding-bottom: 18px;

    .contest__title {
      margin-top: -7px;
    }
  }

  &--emotion {
    padding-top: 15px;
  }
}

.contest__note {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 35px;

  .font-regular(@line-height:30px, @color:@sapphire);
  text-align: center;
  text-transform: uppercase;
}

.contest__note-text {
  &--hidden {
    display: none;
  }
}

.contest__note-star {
  color: @pink;
}

@media (min-width: @tablet) {
  .contest__slogan {
    padding: 0 12%;
    padding-top: 92px;
    padding-bottom: 71px;

    font-size: 18px;

    &--hidden {
      padding: 0;
      font-size: 18px;
    }
  }

  .contest__item {
    margin: 0;
    margin-bottom: 52px;
    padding-left: 60px;
    padding-right: 60px;

    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }

  .contest__title {
    width: auto;
    padding-bottom: 0;

    &--legend {
      margin: 0 auto;
      padding: 0 30px;

      line-height: 30px;
    }

    &--hidden {
      position: static;
    }
  }

  .contest__wrapper {
    &:nth-child(2n):not(:last-child) {
      background-color: @white;
    }

    &--name {
      order: 1;

      .contest__item {
        padding-left: 0;
        padding-right: 0;

        border: none;
      }

      .contest__title {
        align-self: center;
        height: inherit;
        margin-bottom: 52px;
        padding: 0;
        padding-right: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .contest__field {
        flex-grow: 2;
        width: auto;
        min-width: 80%;
        margin-bottom: 52px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &--advantages {
      order: 4;

      .contest__label {
        padding-left: 57px;
      }
    }

    &--contacts {
      order: 3;
    }

    &--app {
      order: 2;

      .contest__title {
        padding: 0 24px;
      }

      .contest__label {
        padding-left: 57px;
      }
    }

    &--emotion {
      order: 5;

      .contest__item {
        margin-bottom: 67px;
      }

      .contest__field {
        min-height: 193px;
        padding: 14px 17px;
      }
    }

    &--button {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      order: 6;
      padding-bottom: 51px;

      .contest__button {
        width: 45.5%;
        min-width: 300px;
      }

      .contest__note {
        width: 45.5%;
        padding: 0;

        text-align: right;
      }
    }
  }

  .contest__wrapper-inner {
    display: flex;
    flex-wrap: wrap;

    &--name {
      padding: 0;
    }

    &--advantages {
      padding-top: 37px;
      padding-bottom: 47px;
    }

    &--contacts {
      padding-top: 30px;
      padding-bottom: 26px;
    }

    &--app {
      padding-top: 38px;
      padding-bottom: 51px;
    }

    &--emotion {
      padding-top: 30px;
      padding-bottom: 51px;
    }

    &--telephone,
    &--email {
      width: 100%;
      padding: 0;
      position: relative;

      .contest__title {
        order: 1;
        padding: 0;
        padding-left: 17px;
      }

      .contest__field {
        z-index: 20;

        order: 0;
        margin-bottom: 10px;
        padding-left: 16px;
      }

      &::before {
        content: "";
        z-index: 10;
        right: 0;

        transform: translateX(-100%);
      }

      &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width: 60px;
        height: 62px;

        background-color: #e5e5e5;
        border-radius: 0 3px 3px 0;
      }
    }

    &--telephone {
      margin-bottom: 29px;
      .icon(19.7px, 19.7px, 21%, auto, @image: true, "icon-phone.svg");

      .contest__title {
        margin-top: 0;
      }
    }

    &--email {
      .icon(19px, 14px, 23%, auto, @image: true, "icon-mail.svg");
    }
  }
}

@media (min-width: @desktop) {
  .contest__slogan {
    padding: 0 10%;
    padding-top: 92px;
    padding-bottom: 65px;

    &--hidden {
      padding: 0;
    }
  }

  .contest__form {
    justify-content: space-between;
  }

  .contest__item {
    margin-bottom: 51px;
  }

  .contest__wrapper {
    .container-modification();

    &--name,
    &--app {
      width: 50%;

      .contest__item {
        min-width: auto;
        max-width: 436px;
        height: 100%;
      }
    }

    &--name {
      display: flex;
      align-items: flex-end;

      .contest__item {
        height: fit-content;
        padding-right: 0;
        padding-left: 0;
      }

      .contest__field {
        min-width: 75%;
      }
    }

    &--app {
      .contest__item {
        padding-left: 74px;
        padding-right: 0;
        padding-bottom: 0;
      }

      .contest__title {
        padding-left: 10px;
        padding-right: 10px;
      }

      .contest__label {
        padding-left: 59px;

        &:not(:last-of-type) {
          margin-bottom: 34px;
        }
      }
    }

    &--emotion {
      .contest__item {
        margin-bottom: 64px;
      }

      .contest__field {
        min-height: 128px;
      }
    }

    &--button {
      padding-bottom: 0;

      .contest__button {
        width: 31.8%;
        min-height: 63px;
      }

      .contest__note-text {
        &--hidden {
          display: inline-block;
        }
      }
    }
  }

  .contest__wrapper-inner {
    &--name {
      padding-top: 0;
    }

    &--advantages {
      justify-content: space-between;
      align-content: space-between;
      padding-top: 38px;
      padding-bottom: 54px;

      .contest__label {
        width: 33%;
        margin-bottom: 42px;

        &:first-of-type,
        &:nth-of-type(2) {
          margin-right: 20px;
        }

        &:last-of-type,
        &:nth-last-of-type(2) {
          width: fit-content;
          min-width: 210px;
          margin-right: 0;
        }

        &:nth-of-type(2n) {
          order: 2;
          margin-bottom: 0;
        }
      }
    }

    &--contacts {
      justify-content: space-between;
      padding-top: 28px;
      padding-bottom: 13px;
    }

    &--telephone,
    &--email {
      width: 45.5%;

      .contest__field {
        z-index: 20;

        margin-bottom: 10px;
      }

      .contest__title {
        padding-left: 17px;
      }
    }

    &--telephone {
      margin: 0;
    }

    &--app {
      padding-top: 39px;
      padding-bottom: 55px;
    }

    &--emotion {
      padding-top: 28px;
      padding-bottom: 44px;
    }
  }
}
