.contacts {
  width: 100%;

  background-color: @white;
}

.contacts__slogan {
  margin: 0;

  .font-light();
  text-align: center;
}

.contacts__title {
  margin: 0;

  .font-bold();
  text-align: center;
}

.contacts__description {
  margin: 0;

  .font-light(@color:@pink);
  text-align: center;
}
