.contacts {
  width: 100%;

  background-color: @white;
}

.contacts__wrapper {
  position: relative;

  padding-bottom: 34px;

  background-color: @white;

  &--caption {
    margin: 0;
    padding-top: 42px;
    padding-bottom: 29px;
  }

  &--item {
    margin: 0;
    padding: 0;
    text-align: center;

    &:not(:last-child) {
      padding-bottom: 15px;
    }

    &:last-child {
      padding-top: 5px;
    }
  }
}

.contacts__slogan {
  margin: 0;

  .font-light();
  text-align: center;
}

.contacts__title {
  margin: 0;

  .font-bold();
  text-align: center;
}

.contacts__description {
  margin: 0 auto;

  .font-light(@color:@pink);
  text-align: center;

  &--post {
    &:hover,
    &:focus {
      color: @sapphire;

      background: linear-gradient(to bottom, @sapphire 0, @sapphire 100%);
      background-repeat: repeat-x;
      background-position: 0 96%;
      background-size: 1px 1px;
      outline: none;
    }

    &:active {
      color: fade(@sapphire, 30%);

      background: none;
    }
  }
}

@media (min-width: @tablet) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;

    &--caption {
      flex-direction: column;
      width: 100%;
      padding-top: 46px;
      padding-bottom: 40px;
    }

    &--item {
      width: 48%;
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 44px;
      }

      &:last-child {
        width: 100%;
        padding: 0;
      }
    }
  }

  .contacts__slogan {
    .font-light(40px, 48px);
  }

  .contacts__description {
    &--post {
      &:hover {
        background-position: 0 100%;
      }
    }
  }
}

@media (min-width: @desktop) {
  .contacts__wrapper {
    justify-content: space-between;
    padding-bottom: 48px;

    &--caption {
      padding-top: 65px;
      padding-bottom: 55px;
    }

    &--item {
      justify-content: flex-start;
      width: 32%;

      &:not(:last-child) {
        padding-bottom: 0;
      }

      &:nth-last-child(2) {
        order: 2;
      }

      &:last-child {
        width: 33.33%;
      }
    }
  }

  .contacts__slogan {
    .font-light(50px, 58px);
  }

  .contacts__title {
    padding-bottom: 20px;
  }
}
