.header {
  width: 100%;
  min-height: 106px;

  .image("bg-back-mobile@1x.jpg", #1d2631);
  background-size: cover;
}

.header__caption {
  width: min-content;
  margin: 0 auto;

  .font-light(24px, 30px, @white);
  text-align: center;
}
