.header {
  width: 100%;

  .image("bg-back-mobile@1x.jpg", #1d2631, 50%, -32%);
}

.header__caption {
  width: min-content;
  min-height: 109px;
  margin: 0 auto;

  .font-light(24px, 30px, @white);
  text-align: center;
}

@media (min-width: @tablet) {
  .header {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position-y: 100%;
  }
}

@media (min-width: @desktop) {
  .header {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-position-y: 0;
  }
}
