.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 65px;

  background-color: @sapphire;

  &--footer {
    justify-content: center;
    background-color: transparent;
  }

  &:hover .logo__svg-name--footer {
    fill: @pink;
  }

  &:active .logo__svg-name--footer {
    fill: fade(@sapphire, 30%);
  }

  &:active .logo__svg-glasses--footer {
    fill: fade(@pink, 30%);
  }
}
