.page-footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: @white;

  &--hidden {
    display: none;
  }
}

.page-footer__wrapper {
  width: inherit;
  height: inherit;
}

@media (min-width: @tablet) {
  .page-footer {
    padding-top: 36px;
    padding-bottom: 36px;

    &--hidden {
      display: block;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop) {
  .page-footer {
    padding-top: 72px;
    padding-bottom: 70px;
  }
}
