.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  width: 100%;
  max-width: 460px;
  min-height: 290px;

  box-shadow: 0 7px 15px 0 fade(#000101, 15%);

  transition: 0.5s;
  transform: translate(-50%, -500%);

  &--show {
    transform: translate(-50%, -50%);
  }
}

.popup__wrapper {
  width: 100%;
  margin: 0 auto;
}

.popup__caption {
  margin: 0;
  padding-top: 42px;
  padding-bottom: 25px;

  .font-bold(@line-height: 24px);
  text-align: center;

  background-color: @white;
}

.popup__description {
  margin: 0;
  padding: 0 7%;

  .font-regular();
  text-align: center;

  background-color: @white;
}

.popup__wrapper-button {
  padding-bottom: 50px;
}

.popup__button {
  display: block;
  width: 87.5%;
  margin: 0 auto;
}

.popup--warning {
  background-color: @white;

  .popup__wrapper-button {
    padding-top: 38px;
  }

  .popup__description {
    padding-bottom: 38px;
  }
}

.popup--submit {
  padding-bottom: 0;

  background-color: @grey;

  .popup__wrapper-button {
    padding-top: 45px;
  }

  .popup__description {
    padding-bottom: 30px;
  }
}

@media (min-width: @tablet) {
  .popup {
    width: 460px;
    min-height: 365px;
  }

  .popup__caption {
    padding: 0 23%;
    padding-top: 36px;

    font-size: 30px;
    line-height: 40px;
  }

  .popup__description {
    font-size: 18px;
  }

  .popup__wrapper-button {
    padding: 36px 0;
  }

  .popup__button {
    width: 65%;
  }

  .popup--warning {
    .popup__description {
      padding: 0 17.5%;
      padding-top: 24px;
    }
  }

  .popup--submit {
    .popup__description {
      padding: 0 15%;
      padding-top: 24px;
      padding-bottom: 36px;
    }
  }
}

@media (min-width: @desktop) {
  .popup {
    width: 780px;
    max-width: none;
    min-height: 380px;
  }

  .popup__caption {
    padding-top: 41px;
  }

  .popup__description {
    padding-left: 25%;
    padding-right: 25%;
  }

  .popup--warning {
    background-color: @grey;

    .popup__description {
      padding-bottom: 61px;
    }

    .popup__button {
      width: 300px;
    }
  }

  .popup--submit {
    .popup__description {
      padding-bottom: 41px;
    }

    .popup__button {
      width: 462px;
    }
  }
}
