.site-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.site-list__item {
  width: inherit;

  background-color: @sapphire;
  box-shadow: 0 0 0 1px @black, inset 0 1px 0 0 fade(@white, 15%);
}

.site-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 65px;

  .font-bold(@line-height: 32px, @color:@white);
  text-transform: uppercase;

  .navigation-dynamic(@pink, true);
}

@media (min-width: @desktop) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 65%; //622px from 960px
    margin: 0;
  }

  .site-list__item {
    position: relative;

    background-color: transparent;
    box-shadow: none;
  }

  .site-list__link {
    width: 100%;
    height: 100%;
    margin: 0;

    .font-regular(18px, 18px, @white);
    text-transform: capitalize;
  }

  .site-list__item:last-child .site-list__link {
    justify-content: flex-end;
  }

  .site-list__link--active > .site-list__link-content{
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -50%;
      left:0;

      width: 100%;
      height: 2px;

      background-color: @white;
    }
  }
}
