.user-photo {
  position: relative;

  width: 100%;

  background-color: @white;
}

.user-photo__slogan {
  margin: 0 auto;
  padding: 0 12%;
  padding-top: 45px;
  padding-bottom: 49px;

  .font-regular(@line-height: 30px);
  text-align: center;
}

.user-photo__wrapper {
  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;

    background-color: transparent;
  }
}

.user-photo__wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-height: 121px;
  padding: 0 6.3%;
  padding-top: 18px;
  padding-bottom: 19px;

  background-color: @grey;
}

.user-photo__item {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  &:not(.user-photo__item--panorama) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 280px;
    height: auto;

    background-color: @grey;
  }
}

.user-photo__link {
  position: relative;

  display: block;
  width: 100%;
  height: auto;
  min-height: 180px;
}

.user-photo__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.user-photo__item--panorama .user-photo__link {
  min-height: auto;

  &::before {
    content: "Панорама дня";

    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;

    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 36px;
    padding-top: 6px;

    .font-bold(12px, 24px, @white);
    text-transform: uppercase;
    text-align: center;

    background-color: @pink;
  }
}

.user-photo__item--panorama .user-photo__image {
  width: 100%;
  height: 100%;
}

.user-photo__description {
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
}

.user-photo__author {
  display: block;
  max-width: 85%;
  margin: 0;

  font-style: normal;
  .font-bold(14px, 24px, @sapphire);
}

.user-photo__time {
  margin: 0;

  .font-light(12px, 24px);
  text-transform: uppercase;
}

.user-photo__comment {
  margin: 0;

  .font-regular();
}

.user-photo__likes {
  position: relative;

  margin: 0;

  .font-regular(12px, 24px, @pink);
  text-transform: uppercase;

  .icon(15px, 15px, 18%, 0, @image: true, "icon-heart.svg");

  &::before {
    background-size: 15px;
  }
}

.user-photo__likes-text {
  margin-left: 32px;
}

@media (min-width: @tablet) {
  .user-photo__slogan {
    padding: 0 16.6%;
    padding-top: 92px;
    padding-bottom: 76px;

    font-size: 18px;
  }

  .user-photo__wrapper-inner {
    position: relative;

    width: 100%;
    min-height: 155px;

    padding: 24px 28px;
    padding-bottom: 22px;
  }

  .user-photo__item {
    margin: 0;
    margin-bottom: 20px;

    &:not(.user-photo__item--panorama) {
      width: 48.4%;
      max-width: none;
    }

    &--panorama {
      margin-bottom: 50px;

      .user-photo__wrapper-inner {
        padding-bottom: 0;
        min-height: 121px;
      }
    }
  }

  .user-photo__item--panorama .user-photo__link {
    &::before {
      top: 57px;
    }
  }

  .user-photo__description {
    padding-bottom: 12px;
  }

  .user-photo__likes {
    &::before {
      left: auto;
      right: 2px;
    }
  }

  .user-photo__item--panorama .user-photo__likes {
    position: absolute;
    top: 25px;
    right: 30px;

    width: fit-content;

    &::before {
      right: -3px;
      top: 5px;
    }
  }

  .user-photo__item--panorama .user-photo__image {
    min-height: 509px;
  }

  .user-photo__likes-text {
    margin-left: 0;
  }

  .user-photo__likes-count {
    margin-right: 30px;
  }
}

@media (min-width: @desktop) {
  .user-photo__slogan {
    padding: 0 20.3%;
    padding-top: 92px;
    padding-bottom: 88px;

    font-size: 18px;
  }

  .user-photo__item {
    margin-bottom: 53px;

    &:not(.user-photo__item--panorama) {
      width: 31.92%;
    }

    &--panorama {
      margin-bottom: 50px;

      .user-photo__link {
        &::before {
          top: 54px;
          right: 10px;
        }
      }

      .user-photo__image {
        min-height: 506px;
      }

      .user-photo__wrapper-inner {
        min-height: 100%;
        padding-bottom: 11px;
      }
    }
  }
}
