.user-photo {
  position: relative;

  width: 100%;

  background-color: @white;
}

.user-photo__slogan {
  margin: 0 auto;
  padding: 55px 12%;

  .font-regular(@line-height: 30px);
  text-align: center;
}

.user-photo__wrapper {
  &--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;

    background-color: transparent;
  }
}

.user-photo__wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 26px 5.5%;

  background-color: @grey;
}

.user-photo__item {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  &:not(.user-photo__item--panorama) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 280px;
    height: auto;

    background-color: @grey;
  }
}

.user-photo__link {
  position: relative;

  display: block;
  width: 100%;
  height: auto;
}

.user-photo__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.user-photo__item--panorama .user-photo__link {

  &::before {
    content: "Панорама дня";

    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;

    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 35px;
    padding-top: 5px;

    .font-bold(12px, 24px, @white);
    text-transform: uppercase;
    text-align: center;

    background-color: @pink;
  }
}

.user-photo__item--panorama .user-photo__image {
  width: 100%;
  height: 100%;
}

.user-photo__description {
  width: 100%;
  margin: 0;
  padding-bottom: 17px;
}

.user-photo__author {
  margin: 0;

  font-style: normal;
  .font-bold(14px, 24px, @sapphire);
}

.user-photo__time {
  margin: 0;

  .font-light(12px, 24px);
  text-transform: uppercase;
}

.user-photo__comment {
  margin: 0;

  .font-regular();
}

.user-photo__likes {
  position: relative;

  margin: 0;

  .font-regular(12px, 24px, @pink);
  text-transform: uppercase;

  .icon(12.5px, 12px, 21%, 0, @image: true, "icon-heart.svg");
}

.user-photo__likes-text {
  margin-left: 32px;
}

@media (min-width: @tablet){
  .user-photo__slogan {
    padding: 0 16.6%;
    padding-top: 100px;
    padding-bottom: 83px;

    font-size: 18px;
  }

  .user-photo__wrapper-inner {
    position: relative;

    padding: 30px 28px;
  }

  .user-photo__item {
    margin: 0;
    margin-bottom: 30px;

    &:not(.user-photo__item--panorama){
      width: 48.4%; //width 300px
      max-width: none; //300px
    }
  }

  .user-photo__item--panorama .user-photo__link {
    &::before {
      top: 54px;
    }
  }

  .user-photo__description {
    padding-bottom: 20px;
  }

  .user-photo__likes {
  &::before {
    left: auto;
    right: 30px;
  }
  }

  .user-photo__item--panorama .user-photo__likes {
    position: absolute;
    top: 30px;
    right: 30px;

    width: fit-content;

    &::before {
      right: 0;
    }

  }

  .user-photo__likes-text {
    margin-left: 0;
  }

  .user-photo__likes-count {
    margin-right: 30px;
  }
}

@media (min-width: @desktop){
  .user-photo__slogan {
    padding: 0 20.3%;
    padding-top: 100px;
    padding-bottom: 93px;

    font-size: 18px;
  }

  .user-photo__wrapper {
    &--container {
      padding: 0 10px;
    }
  }


  .user-photo__item {
    margin-bottom: 54px;

    &:not(.user-photo__item--panorama){
      width: 31.92%; //width 300px
    }
  }

  .user-photo__item--panorama .user-photo__link {
    &::before {
      top: 57px;
    }
  }

}
