.font-bold(@font-size:18px, @line-height:30px, @color:@black) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: 700;
  color: @color;
}

.font-regular(@font-size:14px, @line-height:24px, @color:@sapphire) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: 400;
  color: @color;
}

.font-light(@font-size:24px, @line-height:30px, @color:@sapphire) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: 300;
  color: @color;
}

.image(@src, @color:transparent, @x:0, @y:0) {
  background-color: @color;
  background-image: url("@{src-base}@{src}");
  background-repeat: no-repeat;
  background-position-x: @x;
  background-position-y: @y;
}

.icon (@width-icon, @height-icon, @top:0, @left:0, @image:none, @src) {
  &::before {
    content: "";
    position: absolute;
    top: @top;
    left: @left;

    display: block;
    width: @width-icon;
    height: @height-icon;

    & when not (@image = none) {
      .image(@src);
    }
  }
}

.container-modification(@margin-fix:36px) {
  .container {
    &--modification {
      width: fit-content;
      min-width: auto;
    }
    &--left {
      margin-right: @margin-fix;
      padding-right: 0;
    }
    &--right {
      margin-left: @margin-fix;
      padding-left: 0;
    }
  }
}

.decoration-triangle(@position-center:none, @height-triangle:35px, @height-triangle-tablet:50px, @height-triangle-desktop:90px) {
  overflow: hidden;
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 0;
    height: 0;
    border-top: @height-triangle solid @white;
    border-right: 100vw solid transparent;

    & when not (@position-center = none) {
      left: 50%;

      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-top: @height-triangle solid @white;

      transform: translateX(-50%);
    }

    @media (min-width: @tablet) {
      border-top: @height-triangle-tablet solid @white;
    }

    @media (min-width: @desktop) {
      border-top: @height-triangle-desktop solid @white;
    }
  }
}




.form-dynamic(@pseudo:none) {
  border: 2px solid #e5e5e5;

  &:hover {
    border-color: @sapphire;
  }

  &:active,
  &:focus {
    border-color: @pink;
    outline: none;
  }

  & when not (@pseudo = none) {
    &:hover + .contest__label::before {
      border-color: @sapphire;
    }

    &:active + .contest__label::before,
    &:focus + .contest__label::before {
      border-color: @pink;
      outline: none;
    }

    &:checked  {
      + .contest__label::after {
        display: inline-block;
      }
    }
  }
}


.navigation-dynamic(@color-link:@white, @link:none, @pseudo-before:none, @pseudo-after: none, @svg:none, @shadow:none) {

  & when not (@link = none) {
    color: @white;

    &:hover {
      .site-list__link:not(.site-list__link--active) {
        color: @pink;
      }
    }

    &:active {
      .site-list__link:not(.site-list__link--active) {
      color: fade(@color-link, 30%);
    }
  }
  }

  & when not (@pseudo-before = none) {
    &:hover::before {
      background-color: @pink;

      & when not(@shadow = none) {
        box-shadow: 0 3px 0 -1px fade(@pink, 30%), 0 11px 0 0 @pink, 0 19px 0 -1px fade(@pink, 30%), 0 22px 0 0 @pink;
      }
    }

    &:active::before {
      background-color: @color-link;
      opacity: 0.3;

      & when not(@shadow = none) {
        box-shadow: 0 3px 0 -1px fade(@pink, 30%), 0 11px 0 0 @pink, 0 19px 0 -1px fade(@pink, 30%), 0 22px 0 0 @pink;
      }
    }
  }

  & when not (@pseudo-after = none) {
    &:hover::after {
      content: "";

      background-color: @pink;
    }

    &:active::after {
      content: "";

      background-color: fade(@color-link, 30%);
    }
  }

  & when not (@svg = none) {
    fill: @white;

    &:hover {
      fill: @pink;
    }

    &:active {
      fill: fade(@color-link, 30%);
    }
  }
}
