@mobile-only: 319px;
@tablet: 660px;
@desktop: 960px;

@width-icon: "";
@height-icon: "";

@font-size: "";
@line-height: "";

@pink: #d22856;
@sapphire: #283645;
@white: #ffffff;
@black: #000000;
@grey: #f2f2f2;
@shadow-color:@white;

@src: "";
@src-base:"../img/";
